/* Color palete:

#219ebc - pool blue background
#fb8500 - orange title
#ffb703 - yellow
#023047 - dark blue
#8ecae6 - light blue 
#9BD0F5 - lighter blue*/


body {
    background-color: #219ebc;
}

h1 {
    padding: 1rem;
    text-align: center;
    font-size: 50px;
    background-color:#8ecae6;
    color: #023047; 
    border-radius: 130px;
    border: 10px solid;
    border-color: #ffb703;
    margin: 2rem;
}

.logo {
    border: none;
}

p {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.imagesection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}

canvas {
    padding: 60px;
}